<% var title = "Mina Birthday Top"; var description = "Mina Birthday Top"; %> <% include
src/ejs/template/_head %>

<main class = "l-index">
  <div class = "p-index">
    <video class = "p-index-video" id = "sleepy" src="video/namake.mov" loop autoplay muted></video>
    <div class = "p-index-feature">
      <h1 class = "p-index-feature__title">Happy Birthday!</h1>
      <h1 class = "p-index-feature__title">Mina!</h1>
      <p class = "p-index-feature__text">〜良き１年となりますように〜</p>
      <a href="/about"  class = "p-index-feature__btn">
        <i class="fas fa-heart p-index-feature__btn--heart"></i>
        <p class = "p-index-feature__btn--text">手紙を見る</p>
      </a>
    </div>
  </div>
</main>

<% include src/ejs/template/_footer %>