*{
  margin: 0;
  padding: 0;
}

.container{
  width: 400px;
  display: block;
  margin: 0 auto;
}

.top{
  height: 100px;
  background-color: #141f40;
  position: relative;
}

.top-container{
  background-color: #fff;
  list-style: none;
  position: absolute;
  top: 20px;
  right: 20px; 
  padding: 10px;
}

.top-item{
  background-color: #a9004b;
  width: 40px;
  height: 40px;
  float: left;
  margin-left: 10px;
}

.top-item:first-child{
  margin-left: 0;
}

.middle-left{
  height: 250px;
  width: 150px;
  background-color: #80bfa8;
  float: left;
}

.middle-right{
  height: 250px;
  width: 250px;
  background-color: #8c2727;
  float: left;
  position: relative;
}

.m-right-container{
  list-style: none;
  position: absolute;
  top: 40px;
  left: 40px;
}

.m-right-item{
  background-color: #ff863f;
  width: 140px;
  height: 40px;
  border: 5px solid #fff;
  margin-top: 10px;
}

.m-right-item:first-child{
  margin-top: 0px;
}

.clearfix::after{ 
  content: '';
  display: block;
  clear: both;
}

.bottom{
  height: 100px;
  background-color: #d98d30;
}