.l-about-main{
  background-image: url(../../img/about_back.jpeg);
  background-size: 70%;
  background-attachment: fixed;
  background-position: 170% 50%;
  opacity: 0.7;
}

.l-about-title{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}