.l-index{
  background-image: url("#{$bgPath}about_back.jpeg");
  background-size: 50vw 100vh;
  animation: bgscroll 20s linear infinite;
}

// background-imageのループスライド処理
@-webkit-keyframes bgscroll {
  0% {background-position: 0 0;}
  100% {background-position: 50vw 0;}
}

@keyframes bgscroll {
  0% {background-position: 0 0;}
  100% {background-position: 50vw 0;}
}

/*// -----------------------------------------------------------------
// タブレット
// -----------------------------------------------------------------*/

@media screen and (max-width: 1024px) {
  .l-index{
    height: 100vh;
    display: flex;
    align-items: center;
    background-size: 25%;
  }
}

@media screen and (max-width: 959px) {
}

/*// -----------------------------------------------------------------
// スマホ
// -----------------------------------------------------------------*/

@media screen and (max-width: 640px) {
  .l-index{
    background-size: 33.33%;
  }
}