.c-letterBtn{
  border: solid 1px $colorGray;
  background: $colorWhite;
  color: $colorGray;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  margin-bottom: 20px;
  width: 200px;
  height: 50px;
  font-size: 2rem;
  position: relative;
  top: 200px;

  &:hover{
    background: $colorBlack;
    border: solid 1px $colorWhite;
    color: $colorWhite;
    transition: 0.5s;
  }
}

.c-letterBtn__text{
  position: relative;

  &:before{
    content: '';
    display: block;
    position: absolute;
    left: -48px;
    width: 100%;
    height: 30%;
    transform:rotate(15deg);
    -webkit-transform: rotate(15deg);
    -moz-transform: rotate(15deg);
    border-bottom: solid 1px $colorGray;
  }

  &:after{
    content: '';
    display: block;
    position: absolute;
    right: -48px;
    top: 0px;
    width: 100%;
    height: 30%;
    transform:rotate(-15deg);
    -webkit-transform: rotate(-15deg);
    -moz-transform: rotate(-15deg);
    border-bottom: solid 1px $colorGray;
  }
}

.c-letterBtn__heart{
  position: absolute;
  width: 20px;
  height: 20px;
  top: 20px;
  color: $colorHeartred;
}

/*// -----------------------------------------------------------------
// タブレット
// -----------------------------------------------------------------*/

@media screen and (max-width: 1024px) {
  .c-letterBtn{
    top: 280px;
    width: 270px;
    height: 70px;
    font-size: 3rem;
  }
}

@media screen and (max-width: 959px) {
  .c-letterBtn{
    top: 230px;
  }
}

/*// -----------------------------------------------------------------
// スマホ
// -----------------------------------------------------------------*/

@media screen and (max-width: 640px) {
  .c-letterBtn{
    top: 180px;
    width: 200px;
    height: 50px;
    font-size: 2rem;
  }
}

@media screen and (max-width: 320px) {
  .c-letterBtn{
    top: 150px;
  }
}

/*// -----------------------------------------------------------------
// レターページ用　ボタン
// -----------------------------------------------------------------*/

.p-about-letterBtn{
  top: -100px;
  width: 220px;
}

.p-about-letterBtn__text{
  &:before{
    width: 102px;
  }

  &:after{
    width: 102px;
  }
}

/*// -----------------------------------------------------------------
// タブレット
// -----------------------------------------------------------------*/

@media screen and (max-width: 1024px) {
  .p-about-letterBtn{
    width: 300px;
  }
}

@media screen and (max-width: 959px) {

}

/*// -----------------------------------------------------------------
// スマホ
// -----------------------------------------------------------------*/

@media screen and (max-width: 640px) {
  .p-about-letterBtn{
    width: 220px;
  }
}