.c-bg-white-img-1{
  position: relative;
  z-index: 2;

  &:before{
    content: '';
    position: absolute;
    left: 50%;
    background-image: url("#{$bgPath}section/section26.jpeg");
    display: block;
    background-size: cover;
    width: 0;
    height: 0;
    z-index: -1;
    transform: rotate(-720deg);
    transition: all 2.0s ease 1s;
  }
}

.show .c-bg-white-img-1{
  &::before{
    transform: rotate(5deg);
    top: 0;
    width: 280px;
    height: 500px;
  }
}

.c-bg-white-img-2{
  position: relative;
  z-index: 2;
  color: $colorWhite;

  &:before{
    content: '';
    background-image: url("#{$bgPath}section10.jpeg");
    display: block;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    height: 10%;
    width: 20%;
    z-index: -1;
    transition: all 2.0s ease 1s;
    transform: scale(1, 1);
  }
}

.show .c-bg-white-img-2{
  &::before{
    transform: scale(5, 5) rotate(0.001deg);
  }
}

  // -----------------------------------------------------------------*/
  // タブレット
  // -----------------------------------------------------------------*/

  @media screen and (max-width: 1024px) {
    .c-bg-white-img-2{
      color: $colorBlack;

      &:before{
        height: 10%;
        width: 20%;
      }
    }
  }

  /*// -----------------------------------------------------------------
  // スマホ
  // ----------------------------------------------------------------*/

  @media screen and (max-width: 640px) {
    .show .c-bg-white-img-1{
      &::before{
        width: 170px;
        height: 300px;
      }
    }

    .c-bg-white-img-2{
      &:before{
        height: 4%;
        width: 20%;
      }
    }
  }


  @media screen and (max-width: 320px) {
    .show .c-bg-white-img-1{
      &::before{
        width: 150px;
        height: 280px;
        left: 40%;
      }
    }
  }