.c-speech-bubble__text{
  font-size: $fontLetterWord;
  position: fixed;
  padding: 20px;
  border-radius: 30px;
  transition: all 1.0s ease 0s;
  opacity: 0;

  &::before{
    content: '';
    position: absolute;
    display: block;
    border-radius: 50%;
    width: 30px;
    height: 30px;
  }

  &::after{
    content: '';
    position: absolute;
    display: block;
    border-radius: 50%;
    width: 15px;
    height: 15px;
  }
}

.show2 .c-speech-bubble__text{
  opacity: 1;
}

.c-speech-bubble__text--1{
  top: 250px;
  right: 200px;
  height: 90px;
  width: 35%;
  background-color: $colorWhite;

  &::before{
    left: -35px;
    bottom: 15px;
    background-color: $colorWhite;
  }

  &::after{
    left: -55px;
    bottom: 10px;
    background-color: $colorWhite;
  }
}

.c-speech-bubble__text--2{
  top: 250px;
  right: 700px;
  height: 90px;
  width: 20%;
  background-color: $colorWhite;

  &::before{
    right: -35px;
    bottom: 15px;
    background-color: $colorWhite;
  }

  &::after{
    right: -55px;
    bottom: 10px;
    background-color: $colorWhite;
  }
}

.c-speech-bubble__text--3{
  top: 200px;
  left: 50px;
  height: 90px;
  width: 20%;
  background-color: $colorWhite;

  &::before{
    right: -35px;
    bottom: 15px;
    background-color: $colorWhite;
  }

  &::after{
    right: -55px;
    bottom: 10px;
    background-color: $colorWhite;
  }
}

.c-speech-bubble__text--4{
  top: 250px;
  left: 550px;
  height: 90px;
  width: 20%;
  background-color: $colorWhite;

  &::before{
    left: -35px;
    bottom: 15px;
    background-color: $colorWhite;
  }

  &::after{
    left: -55px;
    bottom: 10px;
    background-color: $colorWhite;
  }
}

.c-speech-bubble__text--5{
  top: 200px;
  left: 550px;
  height: 90px;
  width: 25%;
  background-color: $colorWhite;

  &::before{
    right: -35px;
    bottom: 15px;
    background-color: $colorWhite;
  }

  &::after{
    right: -55px;
    bottom: 10px;
    background-color: $colorWhite;
  }
}

.c-speech-bubble__text--6{
  bottom: 200px;
  right: 550px;
  height: 90px;
  width: 25%;
  background-color: $colorWhite;

  &::before{
    right: -35px;
    bottom: 10px;
    background-color: $colorWhite;
  }

  &::after{
    right: -55px;
    bottom: 25px;
    background-color: $colorWhite;
  }
}

/*// -----------------------------------------------------------------
// タブレット
// -----------------------------------------------------------------*/

@media screen and (max-width: 1024px) {
  .c-speech-bubble__text--1{
    top: 450px;
    right: 130px;
    height: 130px;
  }

  .c-speech-bubble__text--2 {
    right: 500px;
    top: 350px;
    width: 30%;
  }

  .c-speech-bubble__text--3 {
    top: 470px;
    left: 20px;
    height: 80px;
    width: 30%;

    &:before{
      right: 130px;
      bottom: -35px;
    }

    &:after{
      right: 100px;
      bottom: -50px;
    }
  }

  .c-speech-bubble__text--4 {
    top: 700px;
    left: 400px;
    height: 80px;
    width: 25%;
  }

  .c-speech-bubble__text--5 {
    top: 500px;
    left: 300px;
    height: 90px;
    width: 35%;
  }

  .c-speech-bubble__text--6 {
    bottom: 500px;
    right: 400px;
    height: 80px;
    width: 32%;
  }
}

@media screen and (max-width: 959px) {
  .c-speech-bubble__text--1{
    top: 330px;
  }

  .c-speech-bubble__text--2 {
    right: 400px;
    width: 40%;
    top: 250px;
  }

  .c-speech-bubble__text--3 {
    top: 320px;
    height: 80px;
    width: 38%;

    &:before{
      right: 230px;
    }

    &:after{
      right: 220px;
    }
  }

  .c-speech-bubble__text--4 {
    top: 600px;
    left: 320px;
    height: 80px;
    width: 35%;

    &:after{
      bottom: 30px;
    }
  }

  .c-speech-bubble__text--5 {
    top: 320px;
    left: 270px;
    height: 120px;
    width: 25%;
  }

  .c-speech-bubble__text--6 {
    bottom: 350px;
    right: 300px;
    width: 45%;
  }
}

/*// -----------------------------------------------------------------
// スマホ
// ----------------------------------------------------------------*/

@media screen and (max-width: 640px) {
  .c-speech-bubble__text{
    font-size: $fontSpeechBubbleSP;
    padding: 10px;

    &::before{
      width: 15px;
      height: 15px;
    }

    &::after{
      width: 8px;
      height: 8px;
    }
  }

  .c-speech-bubble__text--1{
    top: 240px;
    right: 20px;
    height: 80px;
    width: 45%;

    &::before{
      left: -35px;
      bottom: 15px;
      background-color: $colorWhite;
    }

    &::after{
      left: -55px;
      bottom: 10px;
      background-color: $colorWhite;
    }
  }

  .c-speech-bubble__text--2{
    top: 300px;
    right: 180px;
    height: 55px;
    width: 50%;

    &::before{
      right: -35px;
      bottom: 15px;
    }

    &::after{
      right: -45px;
      top: 20px;
    }
  }

  .c-speech-bubble__text--3{
    top: 230px;
    left: 10px;
    height: 70px;
    width: 30%;

    &::before{
      right: 50px;
      bottom: -20px;
    }

    &::after{
      right: 40px;
      bottom: -30px;
    }
  }

  .c-speech-bubble__text--4{
    top: 300px;
    left: 140px;
    height: 70px;
    width: 30%;

    &::before{
      left: -15px;
      bottom: 50px;
    }

    &::after{
      left: -25px;
      bottom: 50px;
    }
  }

  .c-speech-bubble__text--5{
    top: 230px;
    left: 120px;
    height: 80px;
    width: 35%;

    &::before{
      right: -20px;
      bottom: 55px;
    }

    &::after{
      right: -35px;
      bottom: 50px;
    }
  }

  .c-speech-bubble__text--6{
    bottom: 250px;
    right: 150px;
    height: 55px;
    width: 50%;

    &::before{
      right: -10px;
      bottom: 50px;
    }

    &::after{
      right: -20px;
      bottom: 70px;
    }
  }
}

@media screen and (max-width: 414px) {
  .c-speech-bubble__text--1{
    top: 37%;
    height: 80px;
  }

  .c-speech-bubble__text--2{
    right: 200px;
    width: 40%;
  }

  .c-speech-bubble__text--3 {
    top: 260px;
    height: 55px;
    width: 40%;

    &:before{
      right: 140px;
    }

    &:after{
      right: 130px;
    }
  }

  .c-speech-bubble__text--4{
    top: 400px;
    left: 170px;
    height: 55px;
    width: 40%;

    &:before{
      bottom: 30px;
    }
  }

  .c-speech-bubble__text--5 {
    top: 260px;
  }

  .c-speech-bubble__text--6 {
    bottom: 38%;
  }
}

@media screen and (max-width: 375px) {
  .c-speech-bubble__text--1{
    &:before{
      left: -20px;
    }

    &:after{
      left: -30px;
    }
  }

  .c-speech-bubble__text--2{
    width: 45%;
  }

  .c-speech-bubble__text--3 {
    top: 38%;
    width: 45%;
  }

  .c-speech-bubble__text--4 {
    top: 55%;
  }

  .c-speech-bubble__text--5 {
    top: 38%;
  }
}

@media screen and (max-width: 320px) {
  .c-speech-bubble__text--1{
    top: 200px;
    right: 5px;
    height: 80px;
    width: 50%;

    &::before{
      left: -20px;
    }

    &::after{
      left: -30px;
    }
  }

  .c-speech-bubble__text--2{
    top: 250px;
    right: 140px;
    width: 55%;

    &::before{
      right: -20px;
      bottom: 20px;
    }

    &::after{
      right: -30px;
      top: 10px;
    }
  }

  .c-speech-bubble__text--3 {
    top: 200px;
    height: 50px;
    width: 55%;

    &:before{
      right: 140px;
    }

    &:after{
      right: 130px;
    }
  }

  .c-speech-bubble__text--4 {
    height: 50px;
    width: 50%;

    &:before {
      bottom: 40px;
    }
  }

  .c-speech-bubble__text--5 {
    font-size: $fontSpeechBubbleSPSmall;
    top: 200px;
    left: 120px;
    height: 65px;
    width: 30%;

    &:before {
      right: -20px;
    }

    &:after {
      right: -30px;
    }
  }

  .c-speech-bubble__text--6 {
    font-size: $fontSpeechBubbleSPSmall;
    bottom: 200px;
    right: 130px;
    height: 40px;
    width: 50%;

    &:before {
      bottom: 40px;
    }

    &:after {
      bottom: 60px;
    }
  }
}