<% var title = "Mina-birthday-letter_page"; var description = "Mina-birthday-letter_page"; %> <%
include src/ejs/template/_head %>

<main class = "l-about-main">
  <div class = "l-about-title">
    <h1 class = "p-about-title">みなへ</h1>
  </div>

  <div class = "l-about-letter">
    <div class = "p-about-letter">
      <p class = "p-about-letter__word">
        あああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ
        あああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ
        あああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ
        あああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ
        あああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ
        あああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ
        あああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ
        あああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ
        あああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ
        あああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ
        あああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ
        あああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ
        あああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ
        あああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ
      </p>
    </div>
  </div>
  <a href="/">手紙を閉じる</a>
</main>

<% include src/ejs/template/_footer %>
