// iOS対応できるようにbody擬似要素に画像固定
body{
  &:before{
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1; //これ消したらiOS画面割れなくなる。しかし、見えなくなる要素が増える
    width: 100%;
    height: 100vh;
    background: url("#{$bgPath}about_back.jpeg") center no-repeat;
    background-size: cover;
  }
}

/*// -----------------------------------------------------------------
// タブレット
// -----------------------------------------------------------------*/

@media screen and (max-width: 1024px) {
  .l-about{
    background-size: 100%;
  }
}