/*// -----------------------------------------------------------------
// p-about-title
// -----------------------------------------------------------------*/

.p-about-title{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: $fontTitle;
}

.p-about-title-text__word{
  display: none;
}

@media screen and (max-width: 1024px) {
  .p-about-title{
    font-size: $fontTitle * 1.5;
  }
}

/*// -----------------------------------------------------------------
// p-about-feature-img
// -----------------------------------------------------------------*/

.p-about-feature-img{
  display: flex;
  align-items: center;
  height: 100vh;
  background: rgba(0,0,0,0.5);
}

.p-about-feature-img__woman,
.p-about-feature-img__man{
  width: 450px;
  height: 80%;
  margin: 0 auto;
  border: solid $colorWhite 20px;
  box-shadow: 7px 7px 10px 3px $colorGray;
  outline: solid 3px $colorOrange;

  opacity : 0;
  transition : all 1.0s;
}

.p-about-feature-img__woman{
  transform : translate(-135px, 400px); /* translate(X方向の距離, Y方向の距離) */
}

.p-about-feature-img__man{
  transform : translate(135px, 400px); /* translate(X方向の距離, Y方向の距離) */
}

.visible1{
  opacity : 1;
  transform : translate(0, 0);
}

  /*// -----------------------------------------------------------------
  // タブレット
  // -----------------------------------------------------------------*/

  @media screen and (max-width: 1024px) {
    .p-about-feature-img{
      display: block;
      position: relative;
    }

    .p-about-feature-img__woman,
    .p-about-feature-img__man{
      position: absolute;
      width: 400px;
      height: 50%;
      top: 25%;
    }

    .p-about-feature-img__woman{
      transform : translate(0, 0); /* translate(X方向の距離, Y方向の距離) */
      right: 50px;
    }

    .p-about-feature-img__man{
      transform : translate(0, 0); /* translate(X方向の距離, Y方向の距離) */
      left: 50px;
    }
  }

  @media screen and (max-width: 959px) {
    .p-about-feature-img__woman,
    .p-about-feature-img__man{
      width: 300px;
    }
  }

  /*// -----------------------------------------------------------------
  // スマホ
  // ----------------------------------------------------------------*/

  @media screen and (max-width: 640px) {
    .p-about-feature-img__woman,
    .p-about-feature-img__man{
      width: 200px;
      height: 50%;
    }

    .p-about-feature-img__woman{
      top: 20px;
      right: 20px;
      z-index: 2;
    }

    .p-about-feature-img__man{
      left: 20px;
      top: 47%;
    }
  }


  @media screen and (max-width: 320px) {

  }

/*// -----------------------------------------------------------------
// p-about-letter
// -----------------------------------------------------------------*/

.p-about-letter{
  margin-top: 300px;
}

  /*// -----------------------------------------------------------------
  // タブレット
  // -----------------------------------------------------------------*/

  @media screen and (max-width: 1024px) {

  }

  @media screen and (max-width: 959px) {

  }

  /*// -----------------------------------------------------------------
  // スマホ
  // ----------------------------------------------------------------*/

  @media screen and (max-width: 640px) {

  }


  @media screen and (max-width: 320px) {

  }

/*// -----------------------------------------------------------------
// p-about-letter__section [block]
// -----------------------------------------------------------------*/

.p-about-letter__section{
  margin: 0 auto;
  width: 100%;
}

.p-about-letter__section--reverse{
  display: flex;
  flex-direction: row-reverse;
}

  /*// -----------------------------------------------------------------
  // タブレット
  // -----------------------------------------------------------------*/

  @media screen and (max-width: 1024px) {

  }

  @media screen and (max-width: 959px) {

  }

  /*// -----------------------------------------------------------------
  // スマホ
  // ----------------------------------------------------------------*/

  @media screen and (max-width: 640px) {
    .p-about-letter__section{
      position: relative;
    }

    .p-about-letter__section--reverse{
      flex-direction: row;
    }
  }


  @media screen and (max-width: 320px) {

  }

/*// -----------------------------------------------------------------
// p-about-letter__pic [block]
// -----------------------------------------------------------------*/

.p-about-letter__pic{
  position: fixed;
  top: 200px;
  right: 100px;
  width: 50%;
  height: 50%;
  background-position: center center;
  background-size: cover;
  //transform: scale(0.2, 0.2);
  opacity: 0;
  transition: all 0.5s ease 0s;
  border-radius: 30px;
  transform: rotateY(90deg);
  box-shadow: 2px 3px 8px 3px $colorBlack;
}

.p-about-letter__pic--right{
  left: 100px;
}

.show .p-about-letter__pic{
  opacity: 1;
  transform: rotateY(0deg);
}

  /*// -----------------------------------------------------------------
  // タブレット
  // -----------------------------------------------------------------*/

  @media screen and (max-width: 1024px) {
    .p-about-letter__pic{
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      width: 80%;
      height: 30%;
    }

    .p-about-letter__pic--right{
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
    }
  }

  @media screen and (max-width: 959px) {

  }

  /*// -----------------------------------------------------------------
  // スマホ
  // ----------------------------------------------------------------*/

  @media screen and (max-width: 640px) {

  }


  @media screen and (max-width: 320px) {

  }

/*// -----------------------------------------------------------------
// p-about-letter__word [block]
// -----------------------------------------------------------------*/

.p-about-letter__word{
  background-color: $colorTextBack;
  color: $colorWhite;
  font-size: $fontLetterWord;
  margin: 300px 0;
  padding: 20px;
  display: inline-block;
  border-radius: 10px;

  opacity : 0;
  transform : translate(0, 100px); /* translate(X方向の距離, Y方向の距離) */
  transition : all 0.5s;
}

.visible2{
  opacity : 1;
  transform : translate(0, 0);
}

.p-about-letter__word--left{
  margin-left: 50px;
}

.p-about-letter__word--right{
  margin-right: 50px;
}

  /*// -----------------------------------------------------------------
  // タブレット
  // -----------------------------------------------------------------*/

  @media screen and (max-width: 1024px) {
    .p-about-letter__word{
      margin: 200px 20px 700px;
      padding: 10px;
      font-size: 40px;
    }
  }

  @media screen and (max-width: 959px) {
    .p-about-letter__word{
      margin: 200px 20px 500px;
      font-size: 30px;
    }
  }

  /*// -----------------------------------------------------------------
  // スマホ
  // ----------------------------------------------------------------*/

  @media screen and (max-width: 640px) {
    .p-about-letter__word{
      font-size: $fontLetterWordSP;
      margin: 400px 20px;
    }
  }


  @media screen and (max-width: 320px) {

  }

/*// -----------------------------------------------------------------
// p-about-letter__bg [bgwhite] & stickyエリア
// -----------------------------------------------------------------*/

.p-about-letter__bgsection{
  background: $colorWhite;
  height: 200vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: $fontTitle;
  transition: all 2.0s ease 0s;
  opacity: 0;
  box-shadow: 0 0px 10px 10px $colorGray;
}

.show .p-about-letter__bgsection{
  opacity: 1;
}

.p-about-letter__sticky{
  position: -webkit-sticky; /* safari対応 */
  position: sticky;
  top: 0;
  left: 0;
}

.p-about-letter__whitePic{
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 2.0s ease 0s;
  opacity: 0;
  height: 200vh;
  box-shadow: 0 0px 10px 10px $colorGray;
}

.show .p-about-letter__whitePic{
  opacity: 1;
}

  /*// -----------------------------------------------------------------
  // タブレット
  // -----------------------------------------------------------------*/

  @media screen and (max-width: 1024px) {
    .p-about-letter__bgsection{
      height: 100vh;
    }

    .p-about-letter__sticky{
      top: 50%;
      transform: translateY(-50%);
    }

    .p-about-letter__whitePic{
      background-color: $colorWhite;
      height: 150vh;
    }

    .p-about-letter__bgword--SP{
      padding: 0 20px;
    }

    .p-about-letter__bgword--lineHeight{
      line-height: 900px;
    }
  }

  @media screen and (max-width: 959px) {
    .p-about-letter__bgword--lineHeight{
      line-height: 700px;
    }
  }

  /*// -----------------------------------------------------------------
  // スマホ
  // ----------------------------------------------------------------*/

  @media screen and (max-width: 640px) {
    .p-about-letter__bgsection{
      height: 200vh;
    }

    .p-about-letter__bgword--SP{
      font-size: $fontLetterWordSP;
    }

    .p-about-letter__whitePic{
      background-color: $colorWhite;
      height: 200vh;
    }

    .p-about-letter__bgword--lineHeight{
      line-height: 400px;
    }
  }


  @media screen and (max-width: 320px) {
    .p-about-letter__bgword--lineHeight{
      font-size: $fontLastMessageSP;
    }
  }

/*// -----------------------------------------------------------------
// 最後の名前
// -----------------------------------------------------------------*/

.p-about-letter__myName{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.p-about-letter__word--center{
  display: block;
  position: relative;
  text-align: center;
  width: 50%;

  &:after{
    content: '';
    background-image: url("#{$bgPath}letter_myname.jpeg");
    background-size: cover;
    position: absolute;
    right: 30px;
    top: -20px;
    display: block;
    width: 150px;
    height: 150px;
    transform: rotate(5deg);
  }
}

  /*// -----------------------------------------------------------------
  // タブレット
  // -----------------------------------------------------------------*/

  @media screen and (max-width: 1024px) {
    .p-about-letter__word--center{
      margin: 0;

      &:after{
        right: -100px;
      }
    }
  }

  @media screen and (max-width: 959px) {

  }

  /*// -----------------------------------------------------------------
  // スマホ
  // ----------------------------------------------------------------*/

  @media screen and (max-width: 640px) {
    .p-about-letter__word--center{
      width: 90%;

      &:after{
        right: -10px;
        top: 20px;
        width: 80px;
        height: 80px;
      }
    }
  }


  @media screen and (max-width: 320px) {
    .p-about-letter__word--center{
      font-size: $fontLetterWord / 2;
    }
  }

/*// -----------------------------------------------------------------
// 背景画像
// -----------------------------------------------------------------*/

.p-about-letter__pic01{ background-image: url("#{$bgPath}section/section01.jpeg"); }

.p-about-letter__pic02{
  background-image: url("#{$bgPath}section/section02.jpeg");
  width: 40%;
  height: 80%;
  top: 100px;
}

.p-about-letter__pic03{
  background-image: url("#{$bgPath}section/section03.jpeg");
  width: 50%;
  height: 70%;
  top: 100px;
}

.p-about-letter__bg_01{ background: $colorWhite; }

.p-about-letter__pic04{ background-image: url("#{$bgPath}section/section04.jpeg"); }

.p-about-letter__pic05{
  background-image: url("#{$bgPath}section/section05.jpeg");
  top: 100px;
  right: 200px;
  width: 20%;
  height: 80%;
}

.p-about-letter__pic06{
  background-image: url("#{$bgPath}section/section06.jpeg");
  height: 60%;
}

.p-about-letter__pic07{ background-image: url("#{$bgPath}section/section07.jpeg"); }

.p-about-letter__pic08{ background-image: url("#{$bgPath}section/section08.jpeg"); }

.p-about-letter__pic09{ background-image: url("#{$bgPath}section/section09.jpeg"); }

.p-about-letter__pic11{ background-image: url("#{$bgPath}section/section11.jpeg"); }

.p-about-letter__pic12{ background-image: url("#{$bgPath}section/section12.jpeg"); }

.p-about-letter__pic13{ background-image: url("#{$bgPath}section/section13.jpeg"); }

.p-about-letter__pic14{ background-image: url("#{$bgPath}section/section14.jpeg"); }

.p-about-letter__pic15{ background-image: url("#{$bgPath}section/section15.jpeg"); }

.p-about-letter__pic16{ background-image: url("#{$bgPath}section/section16.jpeg"); }

.p-about-letter__pic18{ background-image: url("#{$bgPath}section/section18.jpeg"); }

.p-about-letter__pic19{ background-image: url("#{$bgPath}section/section19.jpeg"); }

.p-about-letter__pic22{ background-image: url("#{$bgPath}section/section22.jpeg"); }

.p-about-letter__pic23{ background-image: url("#{$bgPath}section/section23.jpeg"); }

.p-about-letter__pic24{ background-image: url("#{$bgPath}section/section24.jpeg"); }

.p-about-letter__pic25{ background-image: url("#{$bgPath}section/section25.jpeg"); }

.p-about-letter__pic27{ background-image: url("#{$bgPath}section/section27.jpeg"); }

.p-about-letter__pic28{ background-image: url("#{$bgPath}section/section28.jpeg"); }

.p-about-letter__pic29{ background-image: url("#{$bgPath}section/section29.jpeg"); }

.p-about-letter__pic30{
  background-image: url("#{$bgPath}section/section30.jpeg");
  top: 100px;
  right: 200px;
  width: 30%;
  height: 80%;
}

.p-about-letter__pic31{ background-image: url("#{$bgPath}section/section31.jpeg"); }

  /*// -----------------------------------------------------------------
  // タブレット
  // -----------------------------------------------------------------*/

  @media screen and (max-width: 1024px) {
    .p-about-letter__pic02{
      width: 50%;
      height: 50%;
      top: 0;
    }

    .p-about-letter__pic03{
      width: 70%;
      height: 40%;
      top: 0;
    }

    .p-about-letter__pic04{
      width: 70%;
      height: 30%;
    }

    .p-about-letter__pic05{
      width: 50%;
      height: 70%;
      top: 0;
      right: 0px;
    }

    .p-about-letter__pic06{
      height: 45%;
    }

    .p-about-letter__pic12{
      width: 70%;
    }

    .p-about-letter__pic16,
    .p-about-letter__pic19{
      height: 50%;
    }

    .p-about-letter__pic30{
      top: 0;
      right: 0;
      width: 70%;
      height: 50%;
    }
  }

  @media screen and (max-width: 959px) {

  }

  /*// -----------------------------------------------------------------
  // スマホ
  // ----------------------------------------------------------------*/

  @media screen and (max-width: 640px) {
    .p-about-letter__pic06{
      height: 30%;
    }
  }


  @media screen and (max-width: 320px) {

  }