.p-index{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.p-indexVideo{
  height: 100vh;
  margin: 0 auto;
  display: block;
  border-radius: 50px;
  box-shadow: 0 0 30px 10px gray;
}

.p-index-feature{
  position: absolute;
}

.p-index-featureTitle{
  display: flex;
  text-align: center;
}

/*// -----------------------------------------------------------------
// タブレット
// -----------------------------------------------------------------*/

@media screen and (max-width: 1024px) {
  .p-indexVideo{
    height: 100%;
    width: 100vw;
  }

  .p-index-featureTitle{
    display: block;
  }
}

@media screen and (max-width: 959px) {
}

/*// -----------------------------------------------------------------
// スマホ
// -----------------------------------------------------------------*/

@media screen and (max-width: 640px) {
}

@media screen and (max-width: 320px) {
}