.top{
  width: 400px;
  height: 100px;
  background-color: #141f40;
}

.middle-left{
  height: 250px;
  width: 150px;
  background-color: #80bfa8;
  float: left;
}

.middle-right{
  height: 250px;
  width: 250px;
  background-color: #8c2727;
  float: left;
}

.clearfix::after{ 
  content: '';
  display: block;
  clear: both;
}

#contents{
  height: 250px;
}

.bottom{
  width: 400px;
  height: 100px;
  background-color: #d98d30;
}