/*// -----------------------------------------------------------------
// p-about-title
// -----------------------------------------------------------------*/

@-webkit-keyframes typing { from { width: 0; } }
@-webkit-keyframes frashing-border { 50% { border-color: transparent; } } //半分の時間は透明色

.p-about-title{
  color: $colorWhite;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: $fontTitle;
}

.p-about-title-text{
  border-right: .1em solid $colorWhite;
	width: 4.5ch; //日本語用
	margin: 2em 1em;
	white-space: nowrap; //改行の表示方法：折り返さない
	overflow: hidden; //はみ出た要素を隠す
	-webkit-animation: typing 3s steps(3), //typing~steps：4段階に分けて、1文字ずつ打つアニメに。
	frashing-border .5s step-end infinite alternate;
}

  /*// -----------------------------------------------------------------
  // スマホ
  // ----------------------------------------------------------------*/

  @media screen and (max-width: 320px) {
    .p-about-title-text{
      font-size: $fontMiddleTitle;
    }
  }

/*// -----------------------------------------------------------------
// p-about-feature-img
// -----------------------------------------------------------------*/

.p-about-feature-img{
  display: flex;
  align-items: center;
  height: 100vh;
  background: rgba(0,0,0,0.5);
}

.p-about-feature-img__woman,
.p-about-feature-img__man{
  width: 450px;
  height: 80%;
  margin: 0 auto;
  border: solid $colorWhite 20px;
  box-shadow: 7px 7px 10px 3px $colorGray;
  outline: solid 3px $colorOrange;

  opacity : 0;
  transition : all 1.0s;
  //transition : -webkit-transform 1.0s;
}

.p-about-feature-img__woman{
  transform : translate(-135px, 400px); /* translate(X方向の距離, Y方向の距離) */
  -webkit-transform : translate(-135px, 400px);
}

.p-about-feature-img__man{
  transform : translate(135px, 400px); /* translate(X方向の距離, Y方向の距離) */
  -webkit-transform : translate(135px, 400px);
}

.visible1{
  opacity : 1;
  transform : translate(0, 0);
  -webkit-transform : translate(0, 0);
}

  /*// -----------------------------------------------------------------
  // タブレット
  // -----------------------------------------------------------------*/

  @media screen and (max-width: 1024px) {
    .p-about-feature-img{
      display: block;
      position: relative;
    }

    .p-about-feature-img__woman,
    .p-about-feature-img__man{
      position: absolute;
      width: 400px;
      height: 50%;
      top: 25%;
    }

    .p-about-feature-img__woman{
      transform : translate(0, 0); /* translate(X方向の距離, Y方向の距離) */
      -webkit-transform : translate(0, 0);
      right: 50px;
    }

    .p-about-feature-img__man{
      transform : translate(0, 0); /* translate(X方向の距離, Y方向の距離) */
      -webkit-transform : translate(0, 0);
      left: 50px;
    }
  }

  @media screen and (max-width: 959px) {
    .p-about-feature-img__woman,
    .p-about-feature-img__man{
      width: 300px;
    }
  }

  /*// -----------------------------------------------------------------
  // スマホ
  // ----------------------------------------------------------------*/

  @media screen and (max-width: 640px) {
    .p-about-feature-img__woman,
    .p-about-feature-img__man{
      width: 200px;
      height: 50%;
    }

    .p-about-feature-img__woman{
      top: 20px;
      right: 20px;
    }

    .p-about-feature-img__man{
      left: 20px;
      top: 47%;
    }
  }

/*// -----------------------------------------------------------------
// p-about-bgSticky
// -----------------------------------------------------------------*/

.p-about-bgSticky{
  position: sticky;
  position: -webkit-sticky; /* safari対応 */
  top: 0;
  left: 0;
  z-index: -1; //これ消したらiOS画面割れなくなる。しかし、見えなくなる要素が増える
  width: 100%;
  height: 100vh;
}

.p-about-bgSticky1{
  background: url("#{$bgPath}bgsticky/bgsticky01.png") center no-repeat;
  background-size: cover;
  background-position: 50% 57%;
}

.p-about-bgSticky2{
  background: url("#{$bgPath}bgsticky/bgsticky02.png") center no-repeat;
  background-size: cover;
  background-position: 50% 85%;
}

.p-about-bgSticky3{
  background: url("#{$bgPath}bgsticky/bgsticky03.png") center no-repeat;
  background-size: cover;
  background-position: 0% bottom;
}

.p-about-bgSticky4{
  background: url("#{$bgPath}bgsticky/bgsticky04.png") center no-repeat;
  background-size: cover;
}

.p-about-bgSticky5{
  background: url("#{$bgPath}bgsticky/bgsticky05.png") center no-repeat;
  background-size: cover;
  background-position: bottom;
}

.p-about-bgSticky6{
  background: url("#{$bgPath}bgsticky/bgsticky06.png") center no-repeat;
  background-size: cover;
  background-position: 50% 10%;
}

.p-about-bgSticky7{
  background: url("#{$bgPath}bgsticky/bgsticky07.png") center no-repeat;
  background-size: cover;
}

.p-about-bgSticky8{
  background: url("#{$bgPath}bgsticky/bgsticky08.png") center no-repeat;
  background-size: cover;
  background-position: 50% 40%;
}

.p-about-bgSticky9{
  background: url("#{$bgPath}bgsticky/bgsticky09.png") center no-repeat;
  background-size: cover;
}

/*// -----------------------------------------------------------------
// p-about-letter__section [block]
// -----------------------------------------------------------------*/

.p-about-letter__section{
  margin: 0 auto;
  width: 100%;

  //-webkit-perspective: 1000px; //奥行きの設定（iOS用）
  //perspective: 1000px; //奥行きの設定（iOS用）
}

.p-about-letter__section--reverse{
  display: flex;
  flex-direction: row-reverse;
}

  /*// -----------------------------------------------------------------
  // スマホ
  // ----------------------------------------------------------------*/

  @media screen and (max-width: 640px) {
    .p-about-letter__section{
      position: relative;
    }

    .p-about-letter__section--reverse{
      flex-direction: row;
    }
  }

/*// -----------------------------------------------------------------
// p-about-letter__pic [block]
// -----------------------------------------------------------------*/

.p-about-letter__pic{
  position: fixed;
  top: 200px;
  right: 100px;
  width: 50%;
  height: 50%;
  background-image: url("#{$bgPath}section/section33.jpeg");
  background-position: center center;
  background-size: cover;
  opacity: 0;
  transition: all 0.5s ease 0s;
  border-radius: 30px;
  //transform: rotateX(90deg);
  //-webkit-transform: rotateX(90deg); //iOS用
  box-shadow: 2px 3px 8px 3px $colorBlack;
}

.p-about-letter__pic--right{
  left: 100px;
}

.show .p-about-letter__pic{
  opacity: 1;
  //transform: rotateX(0deg);
  //-webkit-transform: rotateX(0deg); //iOS用
}

  /*// -----------------------------------------------------------------
  // タブレット
  // -----------------------------------------------------------------*/

  @media screen and (max-width: 1024px) {
    .p-about-letter__pic{
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      width: 80%;
      height: 30%;
    }

    .p-about-letter__pic--right{
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
    }
  }

/*// -----------------------------------------------------------------
// p-about-letter__word [block]
// -----------------------------------------------------------------*/

.p-about-letter__word{
  background-color: $colorTextBack;
  color: $colorWhite;
  font-size: $fontLetterWord;
  margin: 300px 0;
  padding: 20px;
  display: inline-block;
  border-radius: 10px;
  z-index: 3; // iOSの時に隠れる

  opacity : 0;
  transform : translate(0, 100px); /* translate(X方向の距離, Y方向の距離) */
  -webkit-transform : translate(0, 100px);
  transition : all 0.5s;

  &:before{
    content: '';
    display: block;
    position: absolute;
    top: -8px;
    left: -8px;
    width: 100%;
    height: 100%;
    border: solid 3px $colorOrange;
    border-radius: 10px;
  }
}

.visible2{
  opacity : 1;
  transform : translate(0, 0);
  -webkit-transform : translate(0, 0);
}

.p-about-letter__word--left{
  margin-left: 50px;
}

.p-about-letter__word--right{
  margin-right: 50px;
}

  /*// -----------------------------------------------------------------
  // タブレット
  // -----------------------------------------------------------------*/

  @media screen and (max-width: 1024px) {
    .p-about-letter__word{
      margin: 200px 20px 700px;
      padding: 10px;
      font-size: 40px;
    }
  }

  @media screen and (max-width: 959px) {
    .p-about-letter__word{
      margin: 200px 20px 500px;
      font-size: 30px;
    }
  }

  /*// -----------------------------------------------------------------
  // スマホ
  // ----------------------------------------------------------------*/

  @media screen and (max-width: 640px) {
    .p-about-letter__word{
      font-size: $fontLetterWordSP;
      margin: 400px 20px;
    }
  }

/*// -----------------------------------------------------------------
// p-about-letter__bg [bgwhite] & stickyエリア
// -----------------------------------------------------------------*/

.p-about-letter__bgsection{
  background: $colorWhite;
  height: 200vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: $fontMiddleTitle;
  transition: all 2.0s ease 0s;
  opacity: 0;
  box-shadow: 0 0px 10px 10px $colorGray;
}

.show .p-about-letter__bgsection{
  opacity: 1;
}

.p-about-letter__sticky{
  position: sticky;
  position: -webkit-sticky; /* safari対応 */
  top: 0;
  left: 0;
}

.p-about-letter__whitePic{
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 2.0s ease 0s;
  opacity: 0;
  height: 200vh;
  box-shadow: 0 0px 10px 10px $colorGray;
}

.show .p-about-letter__whitePic{
  opacity: 1;
}

.p-about-letter-bgwhite{
  overflow: scroll; //スクロール時の動きを滑らかに（iOS）
  -webkit-overflow-scrolling: touch //スクロール時の動きを滑らかに（iOS）
}

  /*// -----------------------------------------------------------------
  // タブレット
  // -----------------------------------------------------------------*/

  @media screen and (max-width: 1024px) {
    .p-about-letter__bgsection{
      height: 100vh;
    }

    .p-about-letter__sticky{
      top: 50%;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
    }

    .p-about-letter__whitePic{
      background-color: $colorWhite;
      height: 150vh;
    }

    .p-about-letter__bgword--SP{
      padding: 0 20px;
    }

    .p-about-letter__bgword--lineHeight{
      line-height: 900px;
    }
  }

  @media screen and (max-width: 959px) {
    .p-about-letter__bgword--lineHeight{
      line-height: 700px;
    }
  }

  /*// -----------------------------------------------------------------
  // スマホ
  // ----------------------------------------------------------------*/

  @media screen and (max-width: 640px) {
    .p-about-letter__bgsection{
      height: 200vh;
    }

    .p-about-letter__bgword--SP{
      font-size: $fontLetterWordSP;
    }

    .p-about-letter__whitePic{
      background-color: $colorWhite;
      height: 200vh;
    }

    .p-about-letter__bgword--lineHeight{
      line-height: 400px;
    }
  }


  @media screen and (max-width: 320px) {
    .p-about-letter__bgword--lineHeight{
      font-size: $fontLastMessageSP;
    }
  }

/*// -----------------------------------------------------------------
// 最後の名前
// -----------------------------------------------------------------*/

.p-about-letter__myName{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.p-about-letter__word--center{
  display: block;
  position: relative;
  text-align: center;
  width: 50%;

  &:after{
    content: '';
    background-image: url("#{$bgPath}letter_myname.jpeg");
    background-size: cover;
    position: absolute;
    right: 30px;
    top: -20px;
    display: block;
    width: 150px;
    height: 150px;
    transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    border-radius: 50%;
  }
}

  /*// -----------------------------------------------------------------
  // タブレット
  // -----------------------------------------------------------------*/

  @media screen and (max-width: 1024px) {
    .p-about-letter__word--center{
      margin: 0;

      &:after{
        right: -100px;
      }
    }
  }

  /*// -----------------------------------------------------------------
  // スマホ
  // ----------------------------------------------------------------*/

  @media screen and (max-width: 640px) {
    .p-about-letter__word--center{
      width: 90%;

      &:after{
        right: -10px;
        top: 20px;
        width: 80px;
        height: 80px;
      }
    }
  }


  @media screen and (max-width: 320px) {
    .p-about-letter__word--center{
      font-size: $fontLetterWord / 2;
    }
  }

.p-about-letter__bg_01{ background: $colorWhite; }