*{
  margin: 0;
  padding: 0;
}

.bar{
  display: none;
}

img{
  width: 100%;
}

header{
  z-index: 1;
  position: relative;
}

.h-container{
  margin: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-img{
  width: 80px;
  height: 80px;
}

a{
  text-decoration: none;
  color: white;
}

.h-container li{
  list-style: none;
  font-size: 25px;
  margin-left: 15px;
}

.h-container li:first-child{
  margin-left: 0; 
}

.h-container ul{
  display: flex;
  justify-content: space-between;
}

/*top*/

.top-img{
  background-image: url("../img/hero1.jpg");
  background-size: cover;
  height: 1000px;
  position: relative;
  top: -100px;
}

.top-img h2{
  position: relative;
  top: 50%;
  text-align: center;
  font-size: 80px;
  color: white;
}

.container{
  padding: 150px 80px;
}

.container h2{
  font-size: 50px;
}

.container p{
  font-size: 30px;
  margin-top: 30px;
  position: relative;
}

.p-after::after{
  content: "";
  background-color:	#fcc72c;
  position: absolute;
  left: 50%;
  width: 150px;
  height: 3px;
  display: block;
  text-align: center;
  transform: translateX(-50%);
  margin-top: 50px;
}

p,h2,h3{
  opacity: 0.6;
}

/*about*/

.about{
  text-align: center;
}

.about-picture{
  margin-top: 150px;
}

.about-picture li{
  list-style: none;
  border-radius: 20px;
  background-position: center;
}

.about-picture-top{
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.a-pic{
  background-size: cover;
  background-position: center;
  height: 450px;
  border-radius: 20px;
}

.about-picture1{
  background-image: url("../img/about_01.jpg");
  width: 55%;
}

.about-picture2{
  background-image: url("../img/about_02.jpg");
  width: 35%;
}

.about-picture-bottom{
  display: flex;
  justify-content: space-between;
}

.about-picture3{
  background-image: url("../img/about_03.jpg");
  width: 35%;
}

.about-picture4{
  background-image: url("../img/about_04.jpg");
  width: 55%; 
}

/*work*/

.work{
  background-color: #d3d3d3;
  text-align: center;
}

.work-contents{
  margin-top: 150px;
  display: flex;
  flex-wrap: wrap;
}

.work-content{
  width: 30%;
  margin: 40px 20px;
}

.work-content img{
  width: 30%;
}

.work-content h3{
  margin-top: 30px;
  font-size: 40px;
}

.work-content p{
  font-size: 30px;
}

/*Blog*/

.blog-top h2, 
.blog-top p{
  text-align: center;
}

.blog-contents{
  margin-top: 150px;
}

.blog-content{
  display: flex;
}

.blog-content img{
  width: 40%;
}

.blog-content-reverse{
  display: flex;
  flex-direction: row-reverse;
  margin: 60px 0;
}

.blog-content-reverse img{
  width: 40%;
}

.blog h3{
  font-size: 30px;
}

.blog p{
  font-size: 25px;
}

.blog-content-right{
  margin-left: 30px;
}

.blog a{
  background-color: #fcc72c;
  padding: 20px 30px;
  border-radius: 10px;
  margin-top: 50px;
  display: inline-block;
}

/*レスポンシブ*/

@media screen and (max-width: 768px){
  .h-container{
    display: none;
  }

  .bar{
    display: block;
    color: white;
    font-size: 40px;
    position: absolute;
    right: 15px;
  }

  .top-img h2{
    font-size: 40px;
  }

  .container{
    padding: 80px 30px;
  }

  .container p{
    font-size: 20px;
  }

  /*about*/

  .about-picture{
    margin-top: 100px;
  }

  .about-picture-top,
  .about-picture-bottom{
    display: block;
    margin: 0;
  }

  .about-picture1,
  .about-picture2,
  .about-picture3,
  .about-picture4{
    width: 100%;
    height: 230px;
    margin-bottom: 30px;
  }

  /*work*/

  .work-contents{
    display: block;
  }

  .work-content{
    width: 100%;
    margin: 0;
    margin-bottom: 50px;
  }

  .work-content img{
    width: 20%;
  }

  .work-content h3{
    font-size: 25px;
  }

  /*blog*/

  .blog-content,
  .blog-content-reverse{
    display: block;
  }

  .blog-content img,
  .blog-content-reverse img {
    width: 100%;
  }

  .blog h3 {
    font-size: 20px;
  }

  .blog-content-right{
    margin: 0;
  }

  .blog a{
    display: block;
    text-align: center;
  }
}